body {
  height: 100vh;
}
#front-page {
  background: linear-gradient(to bottom right,rgba(24, 173, 237, 0.9), rgba(207, 219, 227, 0.3)), url("../images/intro.jpg");
  background-repeat: no-repeat;
  background-size: 200vh;
  height: 98vh;
  position: relative;
  margin: 0;
  
}

#front-page-header {
  margin: 2px;
  padding-left: 15px;
}

#front-logo {
  font-size: 6.5em;
  margin: 0px;
  font-family: 'Fugaz One', cursive;
  color: black;
}

#front-page-form {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
  height: 50vh;
}

#front-page-name {
  height: 50px;
  border-radius: 20px;
  border: none;
  padding: 20px;
  font-size: 2.3em;  
  font-family: 'Fugaz One', curisve;
}

::placeholder {
  opacity: .3;
}

#front-page-btn {
  height: 85px;
  border-radius: 20px;
  border: 2.5px solid white;
  background:rgba(90, 191, 245, 0.673);
  font-size: 3.5em;
  cursor: pointer;
  font-family: 'Fugaz One', curisve;
}

#front-page-btn:hover {
  background:rgba(66, 127, 160, 0.673);
}

#front-page-btn:focus {
  outline: none;
}

#front-page-btn:active {
  transform: scale(.99);
  transition: transform .2s;
}

#front-page-footer {
  position: absolute;
  bottom: 0;
  right: 5px;
}

#front-slogan {
  font-size: 2em;
  margin: 0;
  margin-bottom: -10px;
}

.hidden {
  display: none;
}
